{sys, [
       {lib_dirs, ["../lib"]},
       {rel, "scrabblecheat", "1",
        [
         kernel,
         stdlib,
         sasl,
         thrift,
         scrabblecheat
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "scrabblecheat"},
       {profile, embedded},

       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},

       {app, scrabblecheat, [{incl_cond, include}]},
       {app, thrift, [{incl_cond, include}, {vsn, "0.7.0-dev"}]},
       {app, sasl, [{incl_cond, include}]},

       %% Should eliminate the *.ez code archives.
       {excl_archive_filters, [".*"]}
      ]}.

{target_dir, "scrabblecheat"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/scrabblecheat", "bin/scrabblecheat"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
