% Enable for Dialyzer analysis.
%{erl_opts, [debug_info, bin_opt_info]}.


% Points 'rebar eunit' to the right place.
{eunit_opts, [{dir, "tests/eunit/"}]}.
{eunit_compile_opts, [{src_dirs, ["tests/eunit"]}]}.


% For release generation.
{sub_dirs, ["rel"]}.


% Code coverage for the win!
{cover_enabled, true}.
{cover_print_enabled, true}.
