{erl_opts, [debug_info]}.

% {eunit_opts, [{dir, "test/eunit/"}]}.
% {eunit_compile_opts, [{src_dirs, ["test/eunit"]}]}.


{relx, [{release, {'scrabblecheat', "0.4.0"},
         [scrabblecheat,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.


{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
