{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

% {eunit_opts, [{dir, "test/eunit/"}]}.
% {eunit_compile_opts, [{src_dirs, ["test/eunit"]}]}.


{deps, [{lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}},
        {unite, {git, "git://github.com/eproxus/unite.git", {tag, "v0.0.1"}}},
        {thrift, {git, "git://github.com/pablo-meier/thrift-erl.git", {ref, "d3a1f48"}}}
        ]}.


{relx, [{release, {'scrabblecheat', "0.4.0"},
         [scrabblecheat,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.


{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
