<?xml version="1.0"?>

<flex-config>
   <compiler>

      <source-path>
         <path-element>build/gen-as3/</path-element>
      </source-path>

      <accessible>true</accessible>
      <locale>
          <locale-element>en_US</locale-element>
      </locale>
	  
      <show-actionscript-warnings>true</show-actionscript-warnings>
      <debug>true</debug>
      <keep-generated-actionscript>false</keep-generated-actionscript>

      <!-- List of SWC files or directories that contain SWC files. -->
      <library-path>
         <path-element>libs</path-element>
         <path-element>libs/mx</path-element>
         <path-element>libs/air</path-element>
         <path-element>locale/{locale}</path-element>
      </library-path>

      <include-libraries>
        <library>libs/libthrift.swc</library>
      </include-libraries>
     
      <namespaces>
          <namespace>
            <uri>http://ns.adobe.com/mxml/2009</uri>
            <manifest>libs/mxml-2009-manifest.xml</manifest>
         </namespace>
         <namespace>
            <uri>library://ns.adobe.com/flex/spark</uri>
            <manifest>libs/spark-manifest.xml</manifest>
         </namespace>
         <namespace>
            <uri>library://ns.adobe.com/flex/mx</uri>
            <manifest>libs/mx-manifest.xml</manifest>
         </namespace>
         <namespace>
            <uri>http://www.adobe.com/2006/mxml</uri>
            <manifest>libs/mxml-manifest.xml</manifest>
         </namespace>
      </namespaces>
      
      <!-- Enable post-link SWF optimization. -->
      <optimize>true</optimize>

      <show-unused-type-selector-warnings>true</show-unused-type-selector-warnings>
      <!-- Run the AS3 compiler in strict error checking mode. -->
      <strict>true</strict>
      <as3>true</as3>
      <es>false</es>
      
      <verbose-stacktraces>true</verbose-stacktraces>
      
      <warn-assignment-within-conditional>true</warn-assignment-within-conditional>
      <warn-bad-array-cast>true</warn-bad-array-cast>
      <warn-bad-bool-assignment>true</warn-bad-bool-assignment>
      <warn-bad-date-cast>true</warn-bad-date-cast>
      <warn-bad-es3-type-method>true</warn-bad-es3-type-method>
      <warn-bad-es3-type-prop>true</warn-bad-es3-type-prop>
      <warn-bad-nan-comparison>true</warn-bad-nan-comparison>
      <warn-bad-null-assignment>true</warn-bad-null-assignment>
      <warn-bad-null-comparison>true</warn-bad-null-comparison>
      <warn-bad-undefined-comparison>true</warn-bad-undefined-comparison>
      <warn-boolean-constructor-with-no-args>false</warn-boolean-constructor-with-no-args>
      <warn-changes-in-resolve>false</warn-changes-in-resolve>
      <warn-class-is-sealed>true</warn-class-is-sealed>
      <warn-const-not-initialized>true</warn-const-not-initialized>
      <warn-constructor-returns-value>false</warn-constructor-returns-value>
      <warn-deprecated-event-handler-error>false</warn-deprecated-event-handler-error>
      <warn-deprecated-function-error>true</warn-deprecated-function-error>
      <warn-deprecated-property-error>true</warn-deprecated-property-error>
      <warn-duplicate-argument-names>true</warn-duplicate-argument-names>
      <warn-duplicate-variable-def>true</warn-duplicate-variable-def>
      <warn-for-var-in-changes>false</warn-for-var-in-changes>
      <warn-import-hides-class>true</warn-import-hides-class>
      <warn-instance-of-changes>true</warn-instance-of-changes>
      <warn-internal-error>true</warn-internal-error>
      <warn-level-not-supported>true</warn-level-not-supported>
      <warn-missing-namespace-decl>true</warn-missing-namespace-decl>
      <warn-negative-uint-literal>true</warn-negative-uint-literal>
      <warn-no-constructor>false</warn-no-constructor>
      <warn-no-explicit-super-call-in-constructor>false</warn-no-explicit-super-call-in-constructor>
      <warn-no-type-decl>true</warn-no-type-decl>
      <warn-number-from-string-changes>false</warn-number-from-string-changes>
      <warn-scoping-change-in-this>false</warn-scoping-change-in-this>
      <warn-slow-text-field-addition>true</warn-slow-text-field-addition>
      <warn-unlikely-function-value>true</warn-unlikely-function-value>
      <warn-xml-class-has-changed>false</warn-xml-class-has-changed>
   </compiler>
  
   <runtime-shared-library-path>
		<path-element>libs/textLayout.swc</path-element>
		<rsl-url>http://fpdownload.adobe.com/pub/swz/tlf/2.0.0.139/textLayout_2.0.0.139.swz</rsl-url>
		<policy-file-url>http://fpdownload.adobe.com/pub/swz/crossdomain.xml</policy-file-url>
		<rsl-url>textLayout_2.0.0.139.swz</rsl-url>
		<policy-file-url></policy-file-url>
	</runtime-shared-library-path>
      
    <runtime-shared-library-path>
		<path-element>libs/osmf.swc</path-element>
		<rsl-url>http://fpdownload.adobe.com/pub/swz/flex/4.5.0.17689/osmf_flex.4.0.0.13495.swz</rsl-url>
		<policy-file-url>http://fpdownload.adobe.com/pub/swz/crossdomain.xml</policy-file-url>
		<rsl-url>osmf_flex.4.0.0.13495.swz</rsl-url>
		<policy-file-url></policy-file-url>
	</runtime-shared-library-path>
	
	<runtime-shared-library-path>
		<path-element>libs/framework.swc</path-element>
		<rsl-url>http://fpdownload.adobe.com/pub/swz/flex/4.5.0.17689/framework_4.5.0.17689.swz</rsl-url>
		<policy-file-url>http://fpdownload.adobe.com/pub/swz/crossdomain.xml</policy-file-url>
		<rsl-url>framework_4.5.0.17689.swz</rsl-url>
		<policy-file-url></policy-file-url>
	</runtime-shared-library-path>
   
	<runtime-shared-library-path>
		<path-element>libs/mx/mx.swc</path-element>
		<rsl-url>http://fpdownload.adobe.com/pub/swz/flex/4.5.0.17689/mx_4.5.0.17689.swz</rsl-url>
		<policy-file-url>http://fpdownload.adobe.com/pub/swz/crossdomain.xml</policy-file-url>
		<rsl-url>mx_4.5.0.17689.swz</rsl-url>
		<policy-file-url></policy-file-url>
	</runtime-shared-library-path>
   
   	<runtime-shared-library-path>
		<path-element>libs/spark.swc</path-element>
		<rsl-url>http://fpdownload.adobe.com/pub/swz/flex/4.5.0.17689/spark_4.5.0.17689.swz</rsl-url>
		<policy-file-url>http://fpdownload.adobe.com/pub/swz/crossdomain.xml</policy-file-url>
		<rsl-url>spark_4.5.0.17689.swz</rsl-url>
		<policy-file-url></policy-file-url>
	</runtime-shared-library-path>
	 
	<runtime-shared-library-path>
		<path-element>libs/rpc.swc</path-element>
		<rsl-url>http://fpdownload.adobe.com/pub/swz/flex/4.5.0.17689/rpc_4.5.0.17689.swz</rsl-url>
		<policy-file-url>http://fpdownload.adobe.com/pub/swz/crossdomain.xml</policy-file-url>
		<rsl-url>rpc_4.5.0.17689.swz</rsl-url>
		<policy-file-url></policy-file-url>
	</runtime-shared-library-path>
	
	<static-link-runtime-shared-libraries>true</static-link-runtime-shared-libraries>
   
   <use-network>true</use-network>
   
   <metadata>
      <title>ScrabbleCheat</title>
      <description>http://www.morepaul.com</description>
      <publisher>Paul Meier</publisher>
      <creator>Paul Meier</creator>
      <language>EN</language>
   </metadata>

   <output>build/ScrabbleCheat.swf</output>

</flex-config>
